.harmonic{
 border-style: solid;
 border-width: 1px;
 border-color: blue;
 margin: 5px;
 width: 40px;
 height: 40px;
}

.harmonic-on{
	background-color: green;
}

.play{
 border-style: solid;
 border-width: 1px;
 border-color: green;
 margin: 5px;
 width: 40px;
 height: 40px;
}
